# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Pattern_HW1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Drive\YandexDisk\Develop\Edu\Pattern\Pattern_HW1\.idea\.idea.Pattern_HW1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
